.bikes-container {
  display: flex;
  justify-content: space-around;
}

  #map {
  height: calc(100vh);
  flex: 0 0 450px;
  position: sticky !important;
  top: 0 !important;
  margin: 0px;
  padding: 0px;
  }

.cards-container {
  width: 90%;
  padding: 0px 15px;
}

.top-text {
  margin-bottom: 50px;
}

.bike-owner {
  display: flex;
  justify-content: space-around;
}

.avatar-large {
  width: 60px;
  border-radius: 50%;
}

.owner-info {
  margin-left: 10px;
}

.block-around {
  background-color: white;
  padding: 25px;
  height: 420px;
}
