.bikes-container {
  display: flex;
  justify-content: space-between;
}

#map {
height: calc(100vh);
flex: 0 1;
// position: sticky !important;
top: 0 !important;
margin: 0px;
padding: 0px;
}

.sticky {
height: calc(100vh);
flex: 0 1;
position: sticky !important;
top: 0 !important;
margin: 0px;
padding: 0px;
}

.cards-container {
  width: 100%;
  padding: 0px 15px;
}


.breath {
  margin-top: 50px;
}

.select-container {
  display: flex;
  flex-direction: column;
  select {
    margin-bottom: 15px;
  }
}

.top-text {
  margin-bottom: 50px;
}

.bike-owner {
  display: flex;
  justify-content: space-around;
}

.avatar-large {
  width: 60px;
  border-radius: 50%;
}

.owner-info {
  margin-left: 10px;
}

.block-around {
  background-color: white;
  padding: 25px;
  height: 420px;
}
.map-area{
  width: 200px;
}


.icon-display {
  display: flex;

}

.edit-delete {
  display: flex;
  width: 100%;
}
