.top-text{
  margin-bottom: 50px;
}

.confirmation-container{
  display: flex;
  justify-content: space-around;
}

.photo-container {
  margin: 0px 50px 50px 50px;

}

.bike-photo{
width: 500px;
}

.information{
  background-color: white;
}

.rent-info{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(200,200,200);
}

.bike-info{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(200,200,200);
  padding-left: 25px;
  margin-top: 12.5px;
}

.rent-range{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(200,200,200);
  margin-top: 12.5px;
}

.rent-range p {
  color: #2e99b0;
}

.pick-up-date{
   display: flex;
  flex-direction: column;
}

.delivery-date{
   display: flex;
  flex-direction: column;
}

.bike-owner{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.owner-avatar img {
  width: 60px;
}
.owner-info {
  margin-left: 10px;
}
.back-button {
  margin-top: 30px;
  margin-bottom: 25px;
}


