.img-tag {
  max-height: 200px;
  max-width: 250px;
  margin-left: 20px;

}
.wrapper {
  display: flex;
  justify-content: center;
}

.make-it-flex {
  display: flex;
  margin: 20px 0px;
  justify-content: space-aroud;
  justify-content: space-around;
  border: 1px solid red;
  padding: 30px 0px;
}
