.img-tag {
  max-height: 200px;
  max-width: 250px;
  margin-left: 20px;
}
.wrapper {
  display: flex;
  justify-content: center;
}

.make-it-flex {
  display: flex;
  margin: 60px 0px 0px;
  justify-content: space-aroud;
  justify-content: space-around;
  // border: 1px solid black;
  box-shadow: 1px 1px 7px rgba(70, 70, 70, .8);
  padding: 30px 0px;
  background-color: white;
}

.make-space {
  margin-top: 100px;
}

.table-head-flex {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.add-bike {
  margin-top: 25px;
}

.avatar-large {
  border-radius: 50%;
  width: 160px;
  height: 150px;
}

.bikelist {
  border: 1px solid #dce0e0;
  padding: 0 20px;
  margin-top: 20px;
}

.bikebox {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}


.renter-name {
  margin-left: 50px;
}

.start-date, .end_date {
  padding-left: 10px;
  min-width: 100px;
  font-size: 13px;
  margin-bottom: 0px;
  font-weight: lighter;
}

.end-date {
  padding-left: 10px;
  min-width: 100px;
  font-size: 13px;
  margin-bottom: 0px;
  font-weight: lighter;
}

.h3 {
  font-size: 15px;
}

