<div class="container">
  <div class="tabs">
    <ul class="bikelist">
      <li class="bikebox">
        <img src="" alt="" class="avatar-large">
        <div class="renter-name">
            <p>RENTED BY</p>
          <h3> <%= @user. %></h3>

        </div>
        <div class="start-date">
          <%= @start_date.try(:strftime, '%m-%e-%y') %>

        </div>
        <div cass="end-date">
          <%= @end_date.try(:strftime, '%m-%e-%y') %>

        </div>
        <div class="edit-delete">


        </div>
      </li>

    </ul>

  </div>
</div>
