<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Ride a <i class="fas fa-bicycle"></i> today. Get there with Cruise.
  </div>
</div>
