<div class="container">
  <h1>Your bikes for rent:</h1>
  <div class="tabs">
    <ul class="bikelist">
      <li class="bikebox">
        <img src="" alt="" class="avatar-large">
        <div class="renter-name">
            <p>RENTED BY</p>
          <h3> <%= @user.name %></h3>

        </div>
        <div class="start-date">
          <%= @start_date %>

        </div>
        <div cass="end-date">
          <%= @end_date %>

        </div>
        <div class="edit-delete">


        </div></li>

    </ul>

  </div>
</div>
