<!-- Banner -->
<div class="banner"  style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('https://images.unsplash.com/photo-1475666675596-cca2035b3d79?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7aeeca33f714526d6177c02d506804fc&auto=format&fit=crop&w=1050&q=80">

  <h1>Rent a bike now. Discover the city.</h1>
</div>

<!-- Filter bar -->
<div class="topnav">
  <div class="filters">
    <a class="active" href="#home">ALL</a>
    <a href="#about">KIND</a>
    <a href="#contact">SIZE</a>
    <a href="#contact">BRAND</a>
  </div>
  <div class="search-bar">
    <%= form_tag bikes_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a bike near you"
      %>
      <% end %>
  </div>
</div>


<!-- Cards -->
<div class="bikes-container">
  <div class="cards-container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <% @bikes.each do |bike| %>
          <%= render 'shared/card', bike: bike %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 order-sm-first sticky">
        <div id="map" data-markers="<%= @markers.to_json %>"></div>
    </div>
    </div>
  </div>
</div>


